<%- include('../includes/start.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if(errorMessage) {%>
    <div class="errorMessage"><%= errorMessage %></div>
    <% } %>
    <form
      action="<%= editing === 'false' ? '/admin/add-product' : '/admin/edit-product' %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          value="<%= oldData.title %>"
          required
        />
      </div>
      <div>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" />
      </div>
      <div>
        <label for="price">Price</label>
        <input
          type="text"
          id="price"
          value="<%= oldData.price %>"
          name="price"
          required
        />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea
          rows="5"
          id="description"
          name="description"
          value="<%= oldData.description %>"
          required
        >
<%= oldData.description %></textarea
        >
      </div>
      <button>
        <%= editing === 'true' ? 'Edit Product' : 'Add Product' %>
      </button>
      <% if(editing === 'true') {%> 
        <input type="hidden" name="prodId" value="<%= oldData.id %>" /> 
      <% } %>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
